<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options All -Indexes
     </IfModule>

    RewriteEngine On

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    ## ROUTER HTTPS Redirect. (PRODUCTION)
    # RewriteCond %{HTTP:X-Forwarded-Proto} !https
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    ## ROUTER WWW Redirect. (PRODUCTION)
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
    # RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>